@model (string mensagem, string alertType, string icon)

@if (!string.IsNullOrEmpty(Model.mensagem))
{
    <div class="alert alert-@Model.alertType" id="alert" role="alert">
         <i class="fa-solid fa-@Model.icon"></i> @Model.mensagem
    </div>
}