@using System.Security.Claims

@{
    var userName = User.Identity.Name;
    var email = User.FindFirst(ClaimTypes.Email)?.Value;  
}

<!-- HEADER DESKTOP-->
<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid ">
            <div class="header-wrap justify-content-end">

                <div class="header-button">
                   
                    <div class="account-wrap ">

                        <div class="account-item clearfix js-item-menu ">
                            <div class="content">
                                <a class="js-acc-btn" href="#">@User.Identity.Name</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div>
                                        <h5 class="name">
                                            <a href="#" class="text-decoration-none text-capitalize ">@User.Identity.Name</a>
                                        </h5>
                                        
                                        <span class="email">@email</span>      
                                        
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a asp-action="Logout" asp-controller="Login"><i class="zmdi zmdi-power"></i>Sair</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER DESKTOP-->