@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="align-items-center text-center">
    <h1 class="text-danger" >@Model.StatusCode</h1>
    <h2> @Model.ErrorMessage </h2>
</div>