@model Reciicer.Models.LoginViewModels.LoginViewModel

@{
    var mensagem = TempData["Mensagem"] as string;
    var updateUserClaim  = TempData["Update"] as string; 

}

<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="text-center">
                        <img src="~/img/login.png" alt="Reciicer" />
                    </div>

                    @await Html.PartialAsync("_AlertPartial", (mensagem, "danger", "circle-xmark"))
                    @await Html.PartialAsync("_AlertPartial", (updateUserClaim, "success", "check"))

                    <div class="login-form">
                        <form asp-action="Login" method="post">
                            <div class="my-3">
                                <label asp-for="Email" class="mb-2"></label>
                                <input asp-for="Email" class="au-input au-input--full" placeholder="E-mail">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="my-3">
                                <label asp-for="Password" class="mb-2"></label>
                                <input asp-for="Password" class="au-input au-input--full" type="password"  placeholder="Senha">
                                <span  asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class=" my-3">
                                <input  asp-for="RememberMe">
                                <label asp-for="RememberMe"></label> 
                            </div>
                            <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Login</button>
                        </form>
                        <div class="register-link">
                            <a asp-action="Register"> Deseja se cadastrar? </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/utils/alertTimeout.js" asp-append-version="true"></script> 
}